<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora fugiat, consectetur ut ipsum debitis eaque hic, qui quisquam rerum excepturi id neque sit deleniti, a non nihil laudantium officia est.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repellendus id quod ducimus tempora nemo praesentium eveniet fugiat nisi possimus. Iusto quisquam inventore quia! Mollitia aspernatur asperiores exercitationem minima vero?
</p>