<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="row">
    <div class="col-md-4 bordes">
        <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="boton">
                <button type="button" class="btn btn-outline-primary btn-block ancho">Ver más...</button>
            </div>
        </div>
    </div>

</div>
    

  